$mainColor: rgb(29, 117, 222);
$btnColor: #2eaf1f;
$blackColor: #000;
$btnBlackColor: #191414;
$btnSecondaryHoverColor: #1A69C7;
$whiteColor: #fff;
$hoverColor: #1ed760;
$nav-height: 58px;
$max-width: 1200px;
$hero-background: #1d75de;
$why-background: #f6f6f6;
$pricing-background: #efefef;
$pricingLabelColor: rgb(46, 119, 208);
$socialBackColor: #222326;